*{
    height: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*body{
    overflow: hidden;
}*/
a{
    color: #000000;
}

.header{
    background: #FFDC7B;
    height: 100px;
    border-radius: 25px;
    position: fixed;
    width: 99%;
    display: flex;
}
.click_lassan{
    width: 105px;
    position: relative;
}
.click_to_dance{
    width: 70px;
    height: 83px;
    position: relative;
    right: 85px;
    bottom: 20px;
    background: transparent;
    border: transparent;
}
.heading{
    font-family: cursive;
    font-size: 50px;
    text-align: center;
    position: relative;
    bottom: 40%;
    width: 75%;
}

.sidebar{
    background: #FFAEEF;
    border-radius: 25px;
    width: 99%;
    margin-top: 7.2%;
    position: fixed;
}
.sidebar div{
    display: flex;
    bottom: 3px;
    font-size: 22px;
    align-items: center;
    justify-content: center;
}
.shortcut_links{
    gap: 10%;
}

a:link{
    color: black;
}
a:visited{
    color: #45B5FF;
}

.sub-container1{
    width: 100%;
    display: flex;
}
.Lassan_Day_Wish{
    width: 100%;
    margin-top: 12.6%;
    background: #3EB1FF;
    border-radius: 25px;
    font-size: 132%;
    text-align: left;
    line-height: 187%;
}
.wish_text{
    margin-left: 0.8%;
    width: 98.5%;
}
.Hindi_Wish{
    background-color: #FFDC7B;
    border-radius: 25px;
    width: 100%;
    font-size: 121%;
    text-align: center;
    margin-top: 0.7%;
}

.about_website{
    width: 100%;
    display: flex;
}
.idea{
    background: #FFAEEF;
    width: 100%;
    border-radius: 25px;
    font-size: 128%;
    margin-top: 0.7%;
    text-align: left;
    line-height: 187%;
}
.idea_text{
    margin-left: 0.8%;
    width: 99.8%;
}
.Lassans_Love_You{
    width: 15%;
    font-size: 154%;
    background-color: #3EB1FF;
    border-radius: 25px;
    margin-top: 0.7%;
    margin-left: 0.6%;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 161px){
    .header{
        width: 92%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 100%;
        transform: translateY(24%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
        width: 100%;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        width: 100%;
        transform: translateY(-57%);
        border-radius: 25px;
    }
    .alternate_img2{
        display: none;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(143%);
    }
    .Hindi_Wish p{
        font-size: 88%;
    }
}
@media only screen and (min-width: 161px) and (max-width: 176px){
    .header{
        width: 92%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 100%;
        transform: translateY(55%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
        width: 100%;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        width: 100%;
        transform: translateY(-57%);
        border-radius: 25px;
    }
    .alternate_img2{
        display: none;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(143%);
    }
    .Hindi_Wish p{
        font-size: 88%;
    }
}
@media only screen and (min-width: 176px) and (max-width: 195px){
    .header{
        width: 92%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 100%;
        transform: translateY(55%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
        width: 100%;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        width: 100%;
        transform: translateY(-33%);
        border-radius: 25px;
    }
    .alternate_img2{
        display: none;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(187%);
    }
    .Hindi_Wish p{
        font-size: 88%;
    }
}
@media only screen and (min-width: 195px) and (max-width: 210px){
    .header{
        width: 92%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 100%;
        transform: translateY(55%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        width: 100%;
        transform: translateY(-45%);
        border-radius: 25px;
    }
    .alternate_img2{
        display: none;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(161%);
    }
}

@media only screen and (min-width: 210px) and (max-width: 221px){
    .header{
        width: 92%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 100%;
        transform: translateY(60%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        width: 100%;
        transform: translateY(-43%);
        border-radius: 25px;
    }
    .alternate_img2{
        display: none;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(166%);
    }
}

@media only screen and (min-width: 210px) and (max-width: 232px){
    .header{
        width: 92%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 100%;
        transform: translateY(60%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        width: 100%;
        transform: translateY(-40%);
        border-radius: 25px;
    }
    .alternate_img2{
        display: none;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(174%);
    }
}

@media only screen and (min-width: 232px) and (max-width: 243px){
    .header{
        width: 92%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 100%;
        transform: translateY(60%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        width: 100%;
        transform: translateY(-39%);
        border-radius: 25px;
    }
    .alternate_img2{
        display: none;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(178%);
    }
}

@media only screen and (min-width: 243px) and (max-width: 254px){
    .header{
        width: 92%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 96%;
        transform: translateY(60%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        width: 100%;
        transform: translateY(-36%);
        border-radius: 25px;
    }
    .alternate_img2{
        display: none;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(187%);
    }
}

@media only screen and (min-width: 254px) and (max-width: 265px){
    .header{
        width: 95%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 88%;
        transform: translateY(60%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        width: 95%;
        margin-top: 41%;
    }
    .shortcut_links{
        gap: 2.5%;
    }
    .shortcut_links p{
        font-size: 44%;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        width: 100%;
        transform: translateY(6.6%);
        border-radius: 25px;
    }
    .alternate_img2{
        display: none;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(345%);
        background-color: #FFAEEF;
        font-size: 165%;
    }
}

@media only screen and (min-width: 265px) and (max-width: 277px){
    .header{
        width: 95%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 77%;
        transform: translateY(60%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        width: 95%;
        margin-top: 39.6%;
    }
    .shortcut_links{
        gap: 2.5%;
    }
    .shortcut_links p{
        font-size: 44%;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        display: none;
    }
    .alternate_img2{
        width: 100%;
        transform: translateY(-6%);
        border-radius: 25px;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(255%);
        background-color: #FFAEEF;
        font-size: 165%;
    }
    .Hindi_Wish p{
        width: 88%;
        margin-left: 5%;
    }
}

@media only screen and (min-width: 277px) and (max-width: 287px){
    .header{
        width: 95%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 77%;
        transform: translateY(60%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        width: 95%;
        margin-top: 39.6%;
    }
    .shortcut_links{
        gap: 2.5%;
    }
    .shortcut_links p{
        font-size: 44%;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        display: none;
    }
    .alternate_img2{
        width: 100%;
        transform: translateY(-5%);
        border-radius: 25px;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(258%);
        background-color: #FFAEEF;
        font-size: 165%;
    }
    .Hindi_Wish p{
        width: 77%;
        margin-left: 10%;
    }
}

@media only screen and (min-width: 287px) and (max-width: 298px){
    .header{
        width: 95%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 77%;
        transform: translateY(60%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        width: 95%;
        margin-top: 36%;
    }
    .shortcut_links{
        gap: 2.5%;
    }
    .shortcut_links p{
        font-size: 44%;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        display: none;
    }
    .alternate_img2{
        width: 100%;
        transform: translateY(-7%);
        border-radius: 25px;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(265%);
        background-color: #FFAEEF;
        font-size: 165%;
    }
    .Hindi_Wish p{
        width: 77%;
        margin-left: 10%;
    }
}

@media only screen and (min-width: 298px) and (max-width: 309px){
    .header{
        width: 95%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 99%;
        transform: translateY(77%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        width: 95%;
        margin-top: 35%;
    }
    .shortcut_links{
        gap: 2.5%;
    }
    .shortcut_links p{
        font-size: 44%;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        display: none;
    }
    .alternate_img2{
        width: 100%;
        transform: translateY(-6%);
        border-radius: 25px;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(272%);
        background-color: #FFAEEF;
        font-size: 165%;
    }
    .Hindi_Wish p{
        width: 77%;
        margin-left: 10%;
    }
}

@media only screen and (min-width: 309px) and (max-width: 313px){
    .header{
        width: 95%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 99%;
        transform: translateY(77%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        width: 95%;
        margin-top: 34%;
    }
    .shortcut_links{
        gap: 2.5%;
    }
    .shortcut_links p{
        font-size: 44%;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        display: none;
    }
    .alternate_img2{
        width: 100%;
        transform: translateY(-6%);
        border-radius: 25px;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(275%);
        background-color: #FFAEEF;
        font-size: 165%;
    }
    .Hindi_Wish p{
        width: 77%;
        margin-left: 11%;
    }
}

@media only screen and (min-width: 313px) and (max-width: 334px){
    .header{
        width: 95%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 99%;
        transform: translateY(77%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        width: 95%;
        margin-top: 33%;
    }
    .shortcut_links{
        gap: 4.4%;
    }
    .shortcut_links p{
        font-size: 44%;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        display: none;
    }
    .alternate_img2{
        width: 100%;
        transform: translateY(6%);
        border-radius: 25px;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(367%);
        background-color: #FFAEEF;
        font-size: 165%;
    }
    .Hindi_Wish p{
        width: 77%;
        margin-left: 11%;
    }
}

@media only screen and (min-width: 334px) and (max-width: 352px){
    .header{
        width: 95%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .heading{
        font-size: 132%;
        text-align: center;
        width: 99%;
        transform: translateY(77%);
    }
    .click_lassan{
        display: none;
    }
    .sidebar{
        width: 95%;
        margin-top: 30.5%;
    }
    .shortcut_links{
        gap: 4.4%;
    }
    .shortcut_links p{
        font-size: 44%;
    }
    .Lassan_Day_Wish{
        display: none;
    }
    .info_heading{
        display: none;
    }
    .about_website{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile_header{
        display: none;
    }
    .mobile_info{
        display: none;
    }
    .alternate_img{
        display: none;
    }
    .alternate_img2{
        width: 100%;
        transform: translateY(4%);
        border-radius: 25px;
    }
    .Hindi_Wish{
        width: 100%;
        transform: translateY(374%);
        background-color: #FFAEEF;
        font-size: 165%;
    }
    .Hindi_Wish p{
        width: 77%;
        margin-left: 11%;
    }
}
