*{
    height: fit-content;
    font-family: cursive;
}
body{
    height: 600px;
    overflow: hidden;
}
.header{
    background: #FC92E6;
    font-size: 80px;
    text-align: center;
    border-radius: 25px;
    position: relative;
    bottom: 70px;
}
.container{
    display: flex;
}
.coming_soon{
    background: #FDD670;
    font-size: 64px;
    text-align: center;
    width: 611px;
    height: 555px;
    border-radius: 25px;
    position: relative;
    bottom: 134px;
    left: 80px
}
.text{
    position: relative;
    bottom: 60px;
}
.nischay_bhaiya{
    width: 317px;
    position: relative;
    left: 649px;
    bottom: 693px;
    border-radius: 25px;
}
.nischay_bhaiya2{
    width: 484px;
    position: relative;
    left: 658px;
    bottom: 689px;
    border-radius: 25px;
}
.alternate_img{
    display: none;
}
.website_author{
    display: none;
}
.website_author_pc{
    position: relative;
    font-size: 34px;
    bottom: 84px;
}
a:link{
    color: #45B5FF;
}
a:visited{
    color: #45B5FF;
}
@media only screen and (max-width: 576px){
    *{
        font-family: Arial, Helvetica, sans-serif;
    }
    body{
        overflow-x: hidden;
    }
    .container{
        position: relative;
        left: 1px;
    }
    .header{
        width: 99.48%;
        position: relative;
        bottom: 30px;
        font-size: 44px;
    }
    .container{
        display: inline;
    }
    .coming_soon{
        width: 82.5%;
        height: 264px;
        position: relative;
        bottom: 64px;
        left: 0px;
        font-size: 38px;
    }
    .text{
        position: relative;
        top: 22px;
    }
    .nischay_bhaiya{
        display: none;
    }
    .nischay_bhaiya2{
        display: none;
    }
    .alternate_img{
        display: block;
        border-radius: 25px;
        width: 82.5%;
        position: relative;
        bottom: 53px;
    }
    .website_author{
        display: block;
        background: #FC92E6;
        border-radius: 25px;
        position: relative;
        bottom: 44px;
        text-align: center;
        font-size: 18px;
        height: 44px;
        width: 82.5%;
    }
    .username{
        position: relative;
        top: 9px;
    }
    .website_author_pc{
        display: none;
    }
}
